<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FrbaCommerce.Properties.Settings.connectionString"
            connectionString="Server=localhost\SQLSERVER2008;Database=GD1C2014;User Id=gd;Password=gd2014;MultipleActiveResultSets=True" />
    </connectionStrings>
</configuration>